
out/production/Unity File Eraser/hu/inemeth/Main.class
.idea/artifacts/file_eraser.xml
.idea/artifacts/File_Eraser_jar.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
File-Eraser.iml
out/artifacts/File_Eraser_jar/File-Eraser.jar
out/production/File-Eraser/hu/inemeth/Main.class
